.oEstimate-main4,.oEstimate-main5{
    padding-top: 97px;
    margin-top: -97px;
    @include media-breakpoint-up(lg){       
        padding-top: 145px;
        margin-top: -145px;
    }
    @include media-breakpoint-up(xl){       
        padding-top: 145px;
        margin-top: -145px;
    }
    @include media-breakpoint-up(xxl){       
        padding-top: 133px;
        margin-top: -133px;
    } 
}

.oEstimate-main1-bg-set{
    background-color: #000000;
}

.oEstimate-main1::before{
    content:"";
    display: block;
    width: 100%;
    height: 96.5px;
    @include media-breakpoint-up(lg){ 
        height: 132.5px;
    }
}


.upLord-sm-body{
    background: linear-gradient(135deg, $nautral-white, $primary3);
    border:1px solid $primary2;
    @include media-breakpoint-up(xl){ 
        background: linear-gradient(90deg, $nautral-white, $primary3);
    }
}

.upLord-btn-sm-box{ /*紅底白十字按鈕設定*/
    width: 100%;
    @include media-breakpoint-up(xl){ 
        width: auto;
    }
    .upLord-btn-sm-box-set{
        width: 100%;
        border-radius: 5px;
        border:none;
        outline: none;
        @include media-breakpoint-up(xl){ 
            width: auto;
        }
        .upLord-btn-img-sm-set{
            max-width: 36px;
            height: auto;
            @include media-breakpoint-up(xl){ 
                max-width: 56px;
            }
        }
    }
}
.oEstimate-main1-upLord-img-sm-box{
        max-width:100%;
        height: auto;
    @include media-breakpoint-up(xl){ 
        max-width:416px;
        height: 386px;
    }
    .oEstimate-main1-upLord-img-sm-box-set{
        background-color: #202020;
        border-radius: 5px;
        .oEstimate-main1-upLord-btn-img-sm-set{
            max-width: 48px;
            height: auto;
            @include media-breakpoint-up(xl){ 
                min-width: 138px;
            }
        }
    }
}

.todoList-decrease,.todoList-increase,.todoList-delete{
    cursor: pointer;
}
.todoList-decrease{
    width: 24px;
    height: 24px;
    background-image: url(/assets/images/oEstimate-main1-input-minus-plus.png);
}
.todoList-increase{
    width: 24px;
    height: 24px;
    background-image: url(/assets/images/oEstimate-main1-input-minus.png);
}
.todoList-delete{
    width: 24px;
    height: 24px;
    background-image: url(/assets/images/oEstimate-main1-input-delete.png);
}

.oEstimate-main1-numTable{
    overflow:auto;
    height: auto;
    background:linear-gradient(90deg, $nautral-black, #60003a);
    .title-row{
        background-color: #6e002c;
        width: 100%;
        height: 72px;
        min-width: 700px;
        .title-row-set-1,.title-row-set-2{
            @include media-breakpoint-up(lg){ 
                min-width: 172px; 
            }
            @include media-breakpoint-up(xxl){ 
                min-width: 194px;
                font-weight: 900;
            }
        }
        .title-row-set-1{
            min-width: 156px;
        }
        .title-row-set-2{
            min-width: 170px;
        }
        .row1-sm-img-set{
            padding: 12px;
            min-width: 48px;
            height: auto;
            @include media-breakpoint-up(xl){ 
                padding: 8px;
            }
        }

    }
    .row2{
        width: 100%;
        min-width: 700px;
        background:linear-gradient(90deg, $nautral-black, #60003a);
        .row2-sm-set-1{
            min-width: 148px;
            width: 100%;
            height: auto;
            .oEstimate-main1-filename{ 
                width: 152px;
                white-space: normal;   /* 允許換行 */
                overflow-wrap: break-word;  /* 長字自動換行 */
                word-break: break-all; /* 任意位置斷行 */
                padding: 5px;          /* 保持內邊距 */
                font-weight: 500;
                line-height: 1.5;
                color:$nautral-white;
            }
        }
        .row2-sm-set-2{
            min-width: 148px;
            width: 100%;
            height: auto;
            img{
                max-width: 24px;
                height: auto;
            } 
            .oEstimate-main1-num{}
            p{
                color:$nautral-white;
                border: 1px solid $nautral-white;
                padding-left: 15px;
                padding-right: 15px;
                border-radius: 5px;
            }
        }
        .row2-sm-set-3{
            min-width: 170px;
            width: 100%;
            height: 72px;
            padding: 12px;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color:$nautral-white;
            display: flex;
            align-items: center;
        }
        .row2-sm-img-set{
            padding: 12px;
            min-width: 48px;
            height: auto;
            @include media-breakpoint-up(xl){ 
                padding: 8px;
            }
        }
    }
    .row3{
        width: 100%;
        min-width: 700px;
        background:linear-gradient(90deg, $nautral-black, #60003a);
        .row3-sm-set-1{
            min-width: 148px;
            width: 100%;
            height: 72px;
            padding: 12px;
            p{
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                color:$nautral-white;
            }
        }
        .row3-sm-set-2{
            min-width: 148px;
            width: 100%;
            height: 72px;
            padding: 12px;
            img{
                max-width: 24px;
                height: auto;
            } 
            p{
                padding-right: 15px;
                padding-left: 15px;
                border: 1px solid $nautral-white;
                border-radius: 5px;
                color:$nautral-white;
            }
        }
        .row3-sm-set-3{
            min-width: 170px;
            width: 100%;
            height: 72px;
            padding: 12px;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color:$nautral-white;
            display: flex;
            align-items: center;
        }
        .row3-sm-img-set{
            padding: 12px;
            min-width: 48px;
            height: auto;
            @include media-breakpoint-up(xl){ 
                padding: 8px;
            }
        }
    }
    .row4{
        width: 100%;
        min-width: 700px;
        background:linear-gradient(90deg, $nautral-black, #60003a);
        .row4-sm-set-1{
            min-width: 148px;
            width: 100%;
            height: 72px;
            padding: 12px;
            p{
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                color:$nautral-white;
            }
        }
        .row4-sm-set-2{
            min-width: 148px;
            width: 100%;
            height: 72px;
            padding: 12px;
            img{
                max-width: 24px;
                height: auto;
            } 
            p{
                padding-right: 15px;
                padding-left: 15px;
                border: 1px solid $nautral-white;
                border-radius: 5px;
                color:$nautral-white;
            }
        }
        .row4-sm-set-3{
            min-width: 170px;
            width: 100%;
            height: 72px;
            padding: 12px;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color:$nautral-white;
            display: flex;
            align-items: center;
        }
        .row4-sm-img-set{
            padding: 12px;
            min-width: 48px;
            height: auto;
            @include media-breakpoint-up(xl){ 
                padding: 8px;
            }
        }
    }
    .row5{
        width: 100%;
        min-width: 700px;
        background:linear-gradient(90deg, $nautral-black, #60003a);
        .row5-sm-set-1{
            min-width: 148px;
            width: 100%;
            height: 72px;
            padding: 12px;
            p{
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                color:$nautral-white;
            }
        }
        .row5-sm-set-2{
            min-width: 148px;
            width: 100%;
            height: 72px;
            padding: 12px;
            img{
                max-width: 24px;
                height: auto;
            } 
            p{
                padding-right: 15px;
                padding-left: 15px;
                border: 1px solid $nautral-white;
                border-radius: 5px;
                color:$nautral-white;
            }
        }
        .row5-sm-set-3{
            min-width: 170px;
            width: 100%;
            height: 72px;
            padding: 12px;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color:$nautral-white;
            display: flex;
            align-items: center;
        }
        .row5-sm-img-set{
            padding: 12px;
            min-width: 48px;
            height: auto;
            @include media-breakpoint-up(xl){ 
                padding: 8px;
            }
        }
    }
    .row6{
        width: 100%;
        min-width: 700px;
        background:linear-gradient(90deg, $nautral-black, #60003a);
        .row6-sm-set-1{
            min-width: 148px;
            width: 100%;
            height: 72px;
            padding: 12px;
            p{
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                color:$nautral-white;
            }
        }
        .row6-sm-set-2{
            min-width: 148px;
            width: 100%;
            height: 72px;
            padding: 12px;
            img{
                max-width: 24px;
                height: auto;
            } 
            p{
                padding-right: 15px;
                padding-left: 15px;
                border: 1px solid $nautral-white;
                border-radius: 5px;
                color:$nautral-white;
            }
        }
        .row6-sm-set-3{
            min-width: 170px;
            width: 100%;
            height: 72px;
            padding: 12px;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color:$nautral-white;
            display: flex;
            align-items: center;
        }
        .row6-sm-img-set{
            padding: 12px;
            min-width: 48px;
            height: auto;
            @include media-breakpoint-up(xl){ 
                padding: 8px;
            }
        }
    }
}

/*彈出視窗*/
.oEstimate-main1-dialog{
    max-width: calc(100% - 24px);
    margin-right: auto;
    margin-left: auto;
        @include media-breakpoint-up(sm){ 
            max-width: 526px;
        }
    }
.oEstimate-main1-content{
    border: none;
}
.oEstimate-main1-header{
    background-color: #6E002C;
    border: none;
}
// .oEstimate-main1-btn-close{
// }

.oEstimate-main1-btn-img-box{
    max-width: 48px;
    height: auto;
}
.oEstimate-main1-body{
    border:2px solid #E22288;
    background-image: linear-gradient(90deg, #000000, #60003a);
}
/*彈出視窗*/

