



.oEstimate-main3-btn01-set{
    border:1px solid $nautral-white;
    border-radius: 5px;
    @include media-breakpoint-up(xl){  
        width: 48%;
    }
}
.oEstimate-main3-text-set{
    width: 100%;
    @include media-breakpoint-up(xl){
        width:120px;  
    }
}

.oEstimate-main3-item-set{
    border:2px solid $nautral-white;
    border-radius: 5px;
    width: 100%;
    height: auto;
    @include media-breakpoint-up(xl){  
        width:452px;
    }
    @include media-breakpoint-up(xxl){  
        width:644px;
    }
}
.main3-img-position1{
    right: 24px;
    top: 6px;
    @include media-breakpoint-up(xl){  
        right: 36px;
        top: 18px;
    }
    @include media-breakpoint-up(xxl){  
        right: 36px;
        top: 18px;
    }   
}
.main3-img-position2{
    right: 24px;
    bottom: 10px;
    @include media-breakpoint-up(xl){  
        right: 36px;
        bottom: 22px;
    }
    @include media-breakpoint-up(xxl){  
        right: 36px;
        bottom: 22px;
    }     
}
.outsidematerial-item-menu-set{

}
.oEstimate-main3-ousidematerial-box-set{
    
}

