//main5背景
.main5{
    outline: none;
    border: none;
    background-color:#000000;
    position: relative;
}
//main5背景

//main5 swiperSet
    //main5 swiper卡片設定
        .main5-card-set{
            border: 4px solid #8B0018;
            width: 352px;
            @include media-breakpoint-up(lg){  
                width: 359px;
                border: 8px solid #8B0018;
            }
            @include media-breakpoint-up(xxl){  
                width: 412px;
            }
        }
    //main5 swiper卡片設定
    //main5 swiper 圖片設定
        .main5-card-img-box-set{
            max-width: 343px;
            height: auto;
            @include media-breakpoint-up(xxl){  
                max-width: 396px;
            }
        }
    //main5 swiper 圖片設定
    //main5 swiper 文字設定
        .main5-card-text-set{
            height: 300px;
            border-top: 4px solid;
            border-image: linear-gradient(90deg, #F1B1FF, #C10877) 1;
            background-color: #6E002C;
            @include media-breakpoint-up(lg){  
                border-top: 8px solid;
            }
        }
    //main5 swiper 文字設定
    //swiper左右按鈕設定
        .swiper-next-R-btn,.swiper-next-L-btn{
            position: absolute;
            display: none;
            top: 50%;
            z-index: 500;
        }
        .swiper-next-R-btn{
            right: 0px;
            @include media-breakpoint-up(sm){  
                display: block;
                right: 24px;
            }
        }
        .swiper-next-L-btn{
            left: 0px;
            @include media-breakpoint-up(sm){  
                display: block;
                left: 24px;
            }
        }
    //swiper左右按鈕設定
//main5 swiperSet
