.main4,.main5{
    padding-top: 97px;
    margin-top: -97px;
    @include media-breakpoint-up(lg){       
        padding-top: 145px;
        margin-top: -145px;
    }
    @include media-breakpoint-up(xl){       
        padding-top: 145px;
        margin-top: -145px;
    }
    @include media-breakpoint-up(xxl){       
        padding-top: 133px;
        margin-top: -133px;
    } 
}

.main1::before{
    content:"";
    display: block;
    width: 100%;
    height: 96.5px;
    @include media-breakpoint-up(lg){ 
        height: 132.5px;
    }
}
.main1{
    width: 100%;
    height: auto;
    background-color: #000000;
}
.main1-bg{
    background: 
        linear-gradient(90deg, #000000 5%, #850017 100%);
    background-repeat:no-repeat;
    background-position:bottom right;
    position: relative;
    @include media-breakpoint-up(xl){ 
        //height: auto; 
        background-image:
            url("/assets/images/Bg/main1-bg.png");
        //background-attachment:scroll;
        background-position: center bottom;
        background-repeat:no-repeat;
        background-size: 100% 100%;
        
    }
}
.main1-content{
    @include media-breakpoint-up(xl){  
        border: 2px solid #fff;
    }
}


.main1-title-text-set{
    color: #fff;
    line-height: 1.5;
    @include media-breakpoint-up(xl){ 
        line-height: 1.2;
    }
}
.main1-img-box{
    max-width: 351px;
    height: 348px;
    
    .main1-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include media-breakpoint-up(xl){  
        max-width: 608px;
        height: 648px;
    }
}
.main-corner-img{
    position: absolute;
    bottom: 0;
    right: 0;
}

