.main3{
    height: calc(100% - 132px);
    background-color: #000000;
    background-image:url("/assets/images/Bg/bg-01.png");
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position:top;
    @include media-breakpoint-up(lg){  
      background-image: 
        url("/assets/images/Bg/bg-01.png"), 
        url("/assets/images/Bg/main3-bg-bottom.png");
      background-position:
        top left,
        bottom right;
      background-repeat:
        repeat-x,
        no-repeat;
    }
}
.main3-img-box{
  max-width: 512px;
  height: auto;
}
.main3-img-set{
    box-shadow: 0 0 10px #8B0018, 0 0 40px #8B0018;
}

.border-bottom-set{
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, #F1B1FF, #C10877) 1;
}
.main3-title-text-set{
    color:#ffffff;
    font-weight: 900;
}

.main3-text-set{
    color:#ffffff;
    font-weight:700;
    line-height: 1.2;
    @include media-breakpoint-up(lg){  
        line-height: 1.5;
    }
    }