

.qP-main3-bg{ //背景為上左和下右各一個貼圖加純色背景 //原 - main4
    outline: 
        none;
    border: 
        none;
    background-color: 
        #000000;
    background-image: 
        url(/assets/images/Bg/main4-bg-sm-1.png), 
        url(/assets/images/Bg/main4-bg-sm-2.png);
    background-repeat: 
        no-repeat, 
        no-repeat;
    background-position:
        bottom right,
        top left;
    @include media-breakpoint-up(xl){  
      background-image: 
        url(/assets/images/Bg/main4-bg-1.png), 
        url(/assets/images/Bg/main4-bg-2.png);
    }
}
//管風琴元件相關
    .accordionItemSet.accordionItemSet{
        background-color: transparent;
        border:none;
        outline:none;
        box-shadow: none;
    }


    .accordion-button:focus {
        box-shadow: none !important; /* ✅ 移除點擊時的藍色外框陰影 */
        outline: none !important; /* ✅ 移除可能的 outline */
    }

    .accordion-button.accordion-button {
        font-size: 24px;
        font-weight: 700;
        padding: 16px 16px 16px 18px;
        background-color: $nautral-black;
        color: $primary3;
        border: 2px solid #6e002c;
        outline: none;
        box-shadow: none;
        border-radius:5px 5px 5px 5px;
        overflow-anchor: none;//當容器有新內容時如果過長且持續有新內容產出，設定auto會讓卷軸保持不動，設定none會讓卷軸持續向上(如果內容產出是往下的話)
        transition: color .15s ease-in-out,
                    background-color .15s ease-in-out, 
                    border-color .15s ease-in-out,
                    border-bottom .15s ease-in-out,
                    border-top .15s ease-in-out,
                    border-radius .15s ease-in-out;
        @include media-breakpoint-up(xl){  
            padding: 36px 48px 36px 48px;
        }
    }

    .accordion-button:not(.collapsed).accordion-button:not(.collapsed) {
        background-color: #232323; /* 變更展開時的背景色 */ /* 變更展開時的文字顏色 */
        border-bottom: none;
        outline: none;
        box-shadow: none;
        border-radius: 5px 5px 0px 0px;
        /* 讓圓角變大來確保 `border-radius` 有變化 */
    }

    .accordion-body-set{
        font-size: 16px;
        font-weight: 500;
        padding: 0px 16px 16px 16px;
        background-color: #232323;
        width: 100%;
        border: 2px solid #6e002c;
        color: #ffffff;
        border-top: none;
        border-radius:0 0 5px 5px;
        @include media-breakpoint-up(xl){  
            font-size: 24px;
            font-weight: 700;
            padding: 0px 48px 36px 48px;
        }
    }

    .accordion-button.accordion-button::after{
        content:"";
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink:0;
        width: 28px;
        height: 28px;
        transform:rotate(-90deg);
        
        background-image: url(/assets/images/Keyboardarrowdown.png);
        background-repeat: no-repeat; 
        background-size: 28px;
        object-fit: cover;
        transition:transform .2s ease-in-out;
    }
    .accordion-button:not(.collapsed).accordion-button:not(.collapsed)::after{
        content:"";
        background-image: url(/assets/images/Keyboardarrowdown.png);
        transform:rotate(0deg);
    }
//管風琴元件相關

