.qP-main0,.qP-main1,.qP-main2,.qP-main3{
    padding-top: 97px;
    margin-top: -97px;
    @include media-breakpoint-up(lg){       
        padding-top: 145px;
        margin-top: -145px;
    }
    @include media-breakpoint-up(xl){       
        padding-top: 145px;
        margin-top: -145px;
    }
    @include media-breakpoint-up(xxl){       
        padding-top: 133px;
        margin-top: -133px;
    } 
}
.qP-main1-bg{
    background: 
        linear-gradient(180deg, $nautral-black 5%, #4F000E 100%);
}

.qP-main1-table-td-set-sm.qP-main1-table-td-set-sm{
    background: #202020;
}
.qP-main1-table-td-set2-sm{
    background: 
        linear-gradient(90deg, #000000 5%, #60003A 100%);
}
.qP-main1-table-td-set-sm.qP-main1-table-td-set-sm,.qP-main1-table-td-set2-sm.qP-main1-table-td-set2-sm{
    width: 45%;
    color:#ffffff;
    font-weight: 500;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-bottom:2px solid #454545;
}

.table-row1-box,.table-row2-box{
    div{
        width: 165px;
        line-height: 1.2;
        font-size: 24px;
        color:$nautral-white;
        padding-right: 32px;
        padding-left: 32px;
        padding-top: 24px;
        padding-bottom: 24px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
.table-row1-box{
    background-color: #202020;
}
.table-row-bg{
    width: 100%;
    background :linear-gradient(90deg, #000000 5%, #60003A 100%);
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, #f478ff 5%, #f22082 100%) 1;
}


