.footer-container-box {
    background-color: #000000;
    border-top: 8px solid;
    border-image: linear-gradient(90deg, #F478FF, #F22082) 1;
    padding-top: 60px;
    padding-bottom: 64px;
    @include media-breakpoint-up(xl) {
        padding-top: 92px;
        padding-bottom: 100px;
    }
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
    @include media-breakpoint-up(xl) {
        flex-direction: row;
        justify-content: start;
    }
}

.card-box {
    width: auto;
    @include media-breakpoint-up(xl) {
        width: 415px;
    }
}
