
.nav-bg-set{ /*背景*/
    background:linear-gradient(90deg, #000000, #60003A);
}
.nav-border-set{ /*邊框設定*/
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, #ffb3f7 0%, #40003a 30%,#f93b5c 100%) 1;
}

//按鈕下方紅條
    .borderLow{ /*按鈕下方的紅條*/
        padding-bottom: 3px; 
        border-bottom:3px solid transparent;
    }
    .borderLow:hover{  /*按鈕下方的紅條(滑鼠放置狀態)*/
        border-bottom:3px solid #E22288;
        .material-symbols-outlined{
            color:#E22288;
            transform:rotate(-180deg);
            transition: 0.2s;
        }
    }
    .borderLow.show{ /*按鈕下方的紅條(點擊狀態)*/
        border-bottom:3px solid #E22288;
        .material-symbols-outlined{
            color:#E22288;
            transform:rotate(-180deg);
            transition: 0.2s;
        }
    }
    .borderLow.active{ /*按鈕下方的紅條(點擊狀態)*/
        border-bottom:3px solid #E22288;
        .material-symbols-outlined{
            color:#E22288;
            transform:rotate(-180deg);
            transition: 0.2s;
        }
    }
//按鈕下方紅條

//會員圖案設定
    .userImgSet{
        width: 48px;
        height: 48px;
        .imgSet{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius:50%;
        }
    }
//會員圖案設定

/*下拉按鈕設定*/
    /*最新消息選單設定和位置設定*/
        .customDropdown{
            padding-top: 0px;
            padding-bottom: 0px;
            border-radius: 0;
            background: #000000;
            border: 5px solid #E22288;
        }
        .indexPagePosition{
            transform: translateX(-89px) translateY(101px);
            @include media-breakpoint-up(xxl){
                transform: translateX(-95px) translateY(104px);
            }
        }
    /*最新消息選單設定和位置設定*/

    /*新手指南選單設定和位置設定*/
        .qaPagePosition{
            transform: translateX(-74px) translateY(98px);
            @include media-breakpoint-up(xxl){
                transform: translateX(-80px) translateY(102px);
            }
        }
    /*新手指南選單設定和位置設定*/

    /*會員登入選單設定和位置設定*/
        .loginPagePosition{
            transform: translateX(-195px) translateY(111px);
            @include media-breakpoint-up(xxl){
                transform: translateX(-230px) translateY(111px);
            }
        }
    /*會員登入選單設定和位置設定*/


    /*下拉選單按鈕設定*/
        .dropdown-item-set{ 
            box-sizing: border-box;
            width: 280px;
            height: 84px;
            font-size: 24px;
            line-height: 1.5;
            font-weight: 500;
            color: #ffffff;
            display: block;
            padding-top:24px ;
            padding-bottom:24px ;
            padding-right:auto ;
            padding-left:auto;
            background-color: transparent;
            border-radius: 5px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0;
            @include media-breakpoint-down(xxl){
                width: 248px;
            }
        }
    /*下拉選單按鈕設定*/
/*下拉按鈕設定*/

/*漢堡內部內容-最外層*/
.offcanvasSet.offcanvasSet{
    width: calc(100% - 63px);  /*保留左邊icon空間*/
    background: linear-gradient(180deg, #000000, #60003A);
    @include media-breakpoint-up(lg){   /*保留左邊icon空間 lg斷點*/
        width: calc(100% - 126px);
    }
}
/*漢堡內部內容-最外層*/


//offcanvas最新消息
    //offcanvas最新消息-NAV
    //offcanvas新手指南QA-NAV
    .offcanvasIndexNav,.offcanvasQaPageNav,.normalNavLink{
        // background-image: linear-gradient(90deg, #000000, #60003A);
    }

    //offcanvas最新消息-按鈕
    //offcanvas新手指南QA-按鈕
    //offcanvas-按鈕
    .qaPageBtn,.indexBtn,.normalNavBtn{
        border: none;
        color: #ffffff;
        text-align: center;
        // background-image: linear-gradient(90deg, #000000, #60003A);
        background-color: transparent;
        width: 280px;
        height: 84px;
        padding-top: 24px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 24px;
    }
    //offcanvas最新消息-按鈕
    //offcanvas最新消息子-按鈕
    //offcanvas新手指南QA子-按鈕
    .qaPageItemSet,.indexItemSet{
        color: #ffffff;
        text-align: center;
        width: 248px;
        padding-top: 24px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 24px;
        font-size: 24px;
    }
    //offcanvas最新消息子按鈕
    //offcanvas最新消息子按鈕(觸碰時)
    .qaPageItemSet:hover,.indexItemSet:hover{
        background-color: #E22288;
        color: #ffffff;
    }
    //offcanvas-按鈕(觸碰時)
    .normalNavBtn:hover{
        background-image: linear-gradient(90deg, #E22288, #E22288);
        color: #ffffff;
    }
//offcanvas最新消息


.sidebar-dropdown {
    display: flex;
    flex-direction: column;
  }
  
/* 🔹 隱藏時的狀態 */
.dropdown-content {
    display: none;
    padding-left: 20px;
  }
  
  /* 🔹 展開時的狀態 */
  .dropdown-content.show {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
  }

  //offcanvas"x"按鈕
  .offcanvasCloseBtn{
    background-color: transparent;
    border: none;
    padding: 0px;
  }
  //offcanvas"x"按鈕







  
.nav-aside-page-set.nav-aside-page-set{ /*漢堡內部內容-最外層*/
    width: calc(100% - 63px);           /*保留左邊icon空間*/
    background: linear-gradient(180deg, #000000, #60003A);
        
    @include media-breakpoint-up(lg){   /*保留左邊icon空間 lg斷點*/
        width: calc(100% - 126px);
        
    }
    @include media-breakpoint-up(xxl){  /*xxl斷點 背景透明化*/
        background: transparent;
    }
}

.offcanvas-backdrop.offcanvas-backdrop{ /*偽元素沒顯示作用為 漢堡點開時選單後面的背景*/
    width: calc(100% - 63px);
    top:0;
    right:0;
    left:100%
}

.navbar-close-img-box{  /*漢堡內部內容 標題區*/
    background-color: transparent;
    border: none;
}

.navbar-expand-xxl .offcanvas{ /*解除展開時的鎖死狀態*/
    @include media-breakpoint-up(xxl){  
        flex-grow: 0;
    }
}

.navbar-btn-bg-set01.navbar-btn-bg-set01,.navbar-btn-bg-set02.navbar-btn-bg-set02{/*最新消息背景設定*/
    @include media-breakpoint-down(xxl){  
        background-image: linear-gradient(90deg, #000000, #60003A);
    }
}
.navbar-btn-bg-set02.navbar-btn-bg-set02{/*新手指南QA背景設定*/
    @include media-breakpoint-down(xxl){  
        background-image: linear-gradient(90deg, #000000, #60003A);
    }
}
.dropdown-menu01-set.dropdown-menu01-set{ /*最新消息選單設定和位置設定*/
    border-radius: 0;
    background: #000000;
    border: 5px solid #E22288;
    left:-65px;
    @include media-breakpoint-down(xxl){  
        background-image: linear-gradient(90deg, #000000, #60003A);
        border: none;
        left:-65px;
    }
}



// .dropdown-menu.show{
//     display: none;
//     @include media-breakpoint-up(xxl){  
//         display: block;
//     }
// }



.dropdown-item-set:hover,.dropdown-item-set:active,.dropdown-item-set:focus{ /*下拉選單按鈕(點擊時)設定*/
    background-color: #E22288;
    color: #ffffff;
}

.navbar-log1-img-box{ /*未登錄狀態頭像*/
    background-color:transparent;
    border:none;
}
.navbar-log2-img-box{ /*登錄狀態頭像*/
    background-color:transparent;
    border-radius: 50%;
    border:none;
}

.modal-body .error-message2,.modal-body .error-message1{
    display: none;
}
.navbar-log2{
    display: none;
}
.navbar-log1{
    display: block;
}

/*彈出登入視窗*/
.nav-modal-dialog{
    max-width: calc(100% - 24px);
    margin-right: auto;
    margin-left: auto;
        @include media-breakpoint-up(sm){ 
            max-width: 526px;
        }
    }