
.nav-bg-set{ /*背景*/
    background:linear-gradient(90deg, #000000, #60003A);
}
.nav-border-set{ /*邊框設定*/
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, #ffb3f7 0%, #40003a 30%,#f93b5c 100%) 1;
}
.nav-aside-page-set.nav-aside-page-set{ /*漢堡內部內容-最外層*/
    width: calc(100% - 63px);           /*保留左邊icon空間*/
    background: linear-gradient(180deg, #000000, #60003A);
        
    @include media-breakpoint-up(lg){   /*保留左邊icon空間 lg斷點*/
        width: calc(100% - 126px);
        
    }
    @include media-breakpoint-up(xxl){  /*xxl斷點 背景透明化*/
        background: transparent;
    }
}

.offcanvas-backdrop.offcanvas-backdrop{ /*偽元素沒顯示作用為 漢堡點開時選單後面的背景*/
    width: calc(100% - 63px);
    top:0;
    right:0;
    left:100%
}

.navbar-close-img-box{  /*漢堡內部內容 標題區*/
    background-color: transparent;
    border: none;
}

.navbar-expand-xxl .offcanvas{ /*解除展開時的鎖死狀態*/
    @include media-breakpoint-up(xxl){  
        flex-grow: 0;
    }
}

.border-low::after{ /*按鈕下方的紅條*/
    content: "";
    display: none;
    @include media-breakpoint-up(xxl){  
        display:block; 
        width: 0%;
        background-color: #E22288;
        height: 7px;
        margin: auto;
        transition: 0.2s;
    }
}
.border-low:hover::after,.border-low:active:after,.border-low:focus:after { /*按鈕下方的紅條(點擊狀態)*/
        content: "";
        display: none;
        @include media-breakpoint-up(xxl){
            display:block;  
            width: 100%;
        }
}

.select-btn-active.select-btn-active,.select-btn-set[aria-expanded="true"]{ /*按鈕點擊時的狀態*/
    background-color: #E22288;
    @include media-breakpoint-up(xxl){  
        background-color: transparent;
        
        .material-symbols-outlined{
            color:#E22288;
            transform:rotate(-180deg);
            transition: 0.2s;
        }
    }
}
.navbar-btn-bg-set01.navbar-btn-bg-set01,.navbar-btn-bg-set02.navbar-btn-bg-set02{/*最新消息背景設定*/
    @include media-breakpoint-down(xxl){  
        background-image: linear-gradient(90deg, #000000, #60003A);
    }
}
.navbar-btn-bg-set02.navbar-btn-bg-set02{/*新手指南QA背景設定*/
    @include media-breakpoint-down(xxl){  
        background-image: linear-gradient(90deg, #000000, #60003A);
    }
}
.dropdown-menu01-set.dropdown-menu01-set{ /*最新消息選單設定和位置設定*/
    border-radius: 0;
    background: #000000;
    border: 5px solid #E22288;
    left:-65px;
    @include media-breakpoint-down(xxl){  
        background-image: linear-gradient(90deg, #000000, #60003A);
        border: none;
        left:0;
    }
}

.dropdown-menu02-set.dropdown-menu02-set{ /*新手指南選單設定和位置設定*/
    border-radius: 0;
    background: #000000;
    border: 5px solid #E22288;
    left:-55px;
    @include media-breakpoint-down(xxl){  
        background-image: linear-gradient(90deg, #000000, #60003A);
        border: none;
        left:0;
    }
}

// .dropdown-menu.show{
//     display: none;
//     @include media-breakpoint-up(xxl){  
//         display: block;
//     }
// }

.dropdown-item-set{ /*下拉選單按鈕設定*/
    box-sizing: border-box;
    width: 280px;
    height: 84px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    color: #ffffff;
    display: block;
    padding-top:24px ;
    padding-bottom:24px ;
    padding-right:auto ;
    padding-left:auto;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    @include media-breakpoint-down(xxl){
        width: 248px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.dropdown-item-set:hover,.dropdown-item-set:active,.dropdown-item-set:focus{ /*下拉選單按鈕(點擊時)設定*/
    background-color: #E22288;
    color: #ffffff;
}

.navbar-log1-img-box{ /*未登錄狀態頭像*/
    background-color:transparent;
    border:none;
}
.navbar-log2-img-box{ /*登錄狀態頭像*/
    background-color:transparent;
    border-radius: 50%;
    border:none;
}

.modal-body .error-message2,.modal-body .error-message1{
    display: none;
}
.navbar-log2{
    display: none;
}
.navbar-log1{
    display: block;
}

/*彈出登入視窗*/
.nav-modal-dialog{
    max-width: calc(100% - 24px);
    margin-right: auto;
    margin-left: auto;
        @include media-breakpoint-up(sm){ 
            max-width: 526px;
        }
    }