.sidebar {
    width: 200px;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
  }
  
  // .content {
  //   margin-left: 200px;
  //   width: calc(100% - 200px);
  //   height: 2000px;
  // }