@import "../../../node_modules/bootstrap/scss/functions";
@import "helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./layout/custom";
@import "./scss/test";
@import "./scss/footer";



//字體區
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
//字體區

//GoogleFonts-icon
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
//GoogleFonts-icon

//font-awesome-icon
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
//font-awesome-icon

//bootstrap5設定
//文字的響應式變化
$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);
//文字的響應式變化
//顏色
$utilities: map-merge(
  $utilities,
  (
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          responsive: true,
        )
      ),
  )
);
//顏色
//寬度
$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
        )
      ),
  )
);
//寬度
//斷點
$utilities: map-merge(
  $utilities,
  (
    "display":
      map-merge(
        map-get($utilities, "display"),
        (
          responsive: true,
        )
      ),
  )
);
@import "bootstrap/scss/utilities/api";
//斷點
//bootstrap5設定